[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
towncrier = "==23.11.0"
pytest = "==8.3.1"
pytest-benchmark = "==4"
pytest-cov = "==5.0.0"
mypy = "==1.11.0"
black = {version = "==24.4.2", markers="python_version >= '3.8'"}
tbump = "==6.11.0"
sphinx = {version = "==7.4.7", markers="python_version >= '3.9'"}
ruff = "==0.5.5"
