name: Docs
on:
  push:
    branches: [main]
    tags:
      - v*
  pull_request:
    branches: [main]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - uses: fizyk/actions-reuse/.github/actions/pipenv@v2.4.4
        with:
          python-version: "3.12"
          command: "sphinx-build -b html docs/source build/html"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/html/
          destination_dir: docs/
          enable_jekyll: false
          keep_files: false